{% extends "layouts.html" %}
{% set active_page = 'home' %}
{% block content %}

<h1 class="mt-3">Home Page</h1>
<div class="content-section">
  <div class="row">
    <div class="col-5 pt-3 pb-3">
      <form>
        <fieldset class="form-group">
          <legend class="border-bottom mb-4">Select a File</legend>
          <div class="form-group">
            <label class="form-control-label" for="file">.csv in data/</label>
            <select class="form-control form-control-lg" id="file" name="file"></select>
          </div>
        </fieldset>
        <div class="form-group">
          <a href=# id="file_submit"><button class='btn btn-outline-info'>Submit</button></a>
        </div>
      </form>
    </div>

    <div class="col-5 pt-3 pb-3">
      <form method="POST" action="" enctype="multipart/form-data">

        {{ up_form.hidden_tag() }}

        <fieldset class="form-group">
          <legend class="border-bottom mb-4">Select a File to Upload</legend>
          <div class="form-group">
            {{ up_form.csv_file.label(class="form-control-label") }}
            {{ up_form.csv_file(class="form-control form-control-lg") }}

            {% for error in up_form.csv_file.errors %}
              <span class="text-danger">{{ error }}</span>
            {% endfor %}

          </div>
        </fieldset>

        <div class="form-group">
          {{ up_form.csv_submit(class="btn btn-outline-info") }}
        </div>

      </form>

    </div>

    <script>
    let file_list_select = document.getElementById('file')
    let file_submit_select = document.getElementById('file_submit')

    $('a#file_submit').bind('click', function() {
        $.getJSON('/get_label_form', {
				  file: $('select#file').find(':selected').attr('value'),
				}, function(data) {
				  $("#label_form").text(data.result);
				});
				return false;
			  });


    $(document).ready( function () {
      fetch('/getfiles/').then(function(response) {
            response.json().then(function(data) {
              let optionHtml = ''
              for (let file of data.files) {
                optionHtml += '<option value="' + file[0] + '">' + file[1] + '</option>';
              }
              file_list_select.innerHTML = optionHtml;
            });
          });
        });


    </script>
  </div>
</div>

<div id="label_form">
</div>
{% endblock content %}