<div class="content-section">
  <div class="row">
    <div class="col-12 mt-3 mb-3">
      <form method="POST" action="">
        {{ vis_form.hidden_tag() }}
        <fieldset class="form-group">
          <legend class="border-bottom mb-4">Dimensional Reduction</legend>

          <table class="table table-striped table-bordered">
          <thead>
              <tr>
                <th>Algorithm/Visualisation</th>
                <th>Scatter</th>
                <th>Box</th>
                <th>K-Nearest</th>
                <th>Dendrogram</th>
                <th>Density</th>
                <th>Heatmap</th>
              </tr>
          </thead>
          <tbody>
            <tr>
              <td>PCA</td>
              <td>{{ vis_form.PCA1 }}</td>
              <td>{{ vis_form.PCA2 }}</td>
              <td>{{ vis_form.PCA3 }}</td>
              <td>{{ vis_form.PCA4 }}</td>
              <td>{{ vis_form.PCA5 }}</td>
              <td>{{ vis_form.PCA6 }}</td>
            </tr>

            <tr>
              <td>LLE</td>
              <td>{{ vis_form.LLE1 }}</td>
              <td>{{ vis_form.LLE2 }}</td>
              <td>{{ vis_form.LLE3 }}</td>
              <td>{{ vis_form.LLE4 }}</td>
              <td>{{ vis_form.LLE5 }}</td>
              <td>{{ vis_form.LLE6 }}</td>
            </tr>

            <tr>
              <td>TSNE</td>
              <td>{{ vis_form.TSNE1 }}</td>
              <td>{{ vis_form.TSNE2 }}</td>
              <td>{{ vis_form.TSNE3 }}</td>
              <td>{{ vis_form.TSNE4 }}</td>
              <td>{{ vis_form.TSNE5 }}</td>
              <td>{{ vis_form.TSNE6 }}</td>
            </tr>

            <tr>
              <td>UMAP</td>
              <td>{{ vis_form.UMAP1 }}</td>
              <td>{{ vis_form.UMAP2 }}</td>
              <td>{{ vis_form.UMAP3 }}</td>
              <td>{{ vis_form.UMAP4 }}</td>
              <td>{{ vis_form.UMAP5 }}</td>
              <td>{{ vis_form.UMAP6 }}</td>
            </tr>

            <tr>
              <td>ISOMAP</td>
              <td>{{ vis_form.ISOMAP1 }}</td>
              <td>{{ vis_form.ISOMAP2 }}</td>
              <td>{{ vis_form.ISOMAP3 }}</td>
              <td>{{ vis_form.ISOMAP4 }}</td>
              <td>{{ vis_form.ISOMAP5 }}</td>
              <td>{{ vis_form.ISOMAP6 }}</td>
            </tr>

            <tr>
              <td>K-MAPPER</td>
              <td>{{ vis_form.KMAP1 }}</td>
              <td>{{ vis_form.KMAP2 }}</td>
              <td>{{ vis_form.KMAP3 }}</td>
              <td>{{ vis_form.KMAP4 }}</td>
              <td>{{ vis_form.KMAP5 }}</td>
              <td>{{ vis_form.KMAP6 }}</td>
            </tr>
          <tr>
            <td> MDS </td>
              <td>{{ vis_form.MDS1 }}</td>
              <td>{{ vis_form.MDS2 }}</td>
              <td>{{ vis_form.MDS3 }}</td>
              <td>{{ vis_form.MDS4 }}</td>
              <td>{{ vis_form.MDS5 }}</td>
              <td>{{ vis_form.MDS6 }}</td>
          </tr>
          </tbody>
        </table>
        </fieldset>

        <div class="form-group">
         {{ vis_form.vis_submit(class="btn btn-outline-info", formtarget="_blank") }}
        </div>

      </form>
    </div>
  </div>
</div>
