{% extends "layouts.html" %}
{% set active_page = 'about' %}
{% block content%}
<h1>EVA - Evaluation and Visualisation of Anomalies </h1>
<p>
  Anomaly detection is a subfield of AI that detects anomalies in datasets.
  A machine learning algorithm learns the "patterns" that the majority of cases adhere to and then singles out the
  few cases that deviate from those normal patterns.
  Appropriate projections of the high-dimensional datasets to two dimensions often help by isolating anomalies
  in the image of those projections. The anomalies can then easily be spotted by a human just by looking at the image.
  There are many different techniques with different strengths and weaknesses. Your job would be to develop a modular,
  extensible anomaly visualization framework with graphical user interface that allows to evaluate different
  data visualizations techniques on user provided datasets. Time series datasets should be paid particular attention to.
</p>
{% endblock content %}