{% extends "layouts.html" %}
{% set active_page = 'home' %}
{% block content %}
    <h1>Home Page</h1>
    <div class="content-section">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Select a CSV File</legend>
                <div class="form-group">
                    {{ form.file.label(class="form-control-label") }}
                    {{ form.file(class="form-control form-control-lg") }}

                    {{ form.target.label(class="form-control-label") }}
                    {{ form.target(class="form-control form-control-lg") }}

                    {{ form.PCA.label(class="form-control-label") }}
                    {{ form.PCA(class="form-control form-control-lg") }}

                    {{ form.TSNE.label(class="form-control-label") }}
                    {{ form.TSNE(class="form-control form-control-lg") }}

                    {{ form.LLE.label(class="form-control-label") }}
                    {{ form.LLE(class="form-control form-control-lg") }}


                </div>
            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
        </form>
    </div>
    {% if variable %}
    <p>{{ variable }}</p>
    {% endif %}
{% endblock content %}
