{% extends "layouts.html" %}
{% set active_page = 'upload' %}
{% block content %}

<h1>Upload File</h1>
<div class="content-section">
  <form method="POST" action="" enctype="multipart/form-data">
    {{ form.hidden_tag() }}
    <fieldset class="form-group">
      <legend class="border-bottom mb-4">Select a File to Upload</legend>
      <div class="form-group">
        {{ form.csv_file.label(class="form-control-label") }}
        {{ form.csv_file(class="form-control form-control-lg") }}

        {% if form.csv_file.errors %}
          {% for error in form.csv_file.errors %}
            <span class="text-danger">{{ errors }}</span>
          {% endfor %}
        {% endif %}
      </div>
    </fieldset>

    <div class="form-group">
      {{ form.csv_submit(class="btn btn-outline-info") }}
    </div>

  </form>
</div>
{% if shape %}
  Shape is: {{ shape }}
{% endif %}

{% endblock content %}
